@import '@/assets/style/base.scss';

//SECTION
.section-title{
  color: #666666;
  float: left;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
  margin: 15px 0 30px 0;
}
//PRODUCT CARD
.product-card{
  @include card-1;
  float: left;
  width: 100%;
  padding: 25px 15px;
  color: #666666;
  background-color: #BCFF3B;
  .product-img{
    margin-bottom: 15px;
  }
  .product-brand{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .product-name{
    font-size: 1.2em;
    font-weight: 700;
  }
  .product-price{
    font-size: 1em;
    font-weight: 300;
  }
  &:hover{
    background-color: #f5f5f5;
    color: #666666;
  }
}
//FEATURED PRODUCT CARD
.product-card.featured-card{
  overflow: visible;
  color: #fff;
  background-color: $color-red;
  .product-img{
    width: 120%;
  }
}
//PRODUCT DETAILS
.product-details-block{
  position: relative;
  background-color: #fff;
  @media screen and (max-width: 768px) {
    height: auto;
  }
  &>.container{
    min-height: 95vh;
    &>.row{
      height: 100%;
      &>[class*=" col-"] {
        display: flex;
      }
    }
  }
  .overlay-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #f0f0f0;
    clip-path: polygon(0 0,50% 0,35% 100%, 0 100%);
  }
  .product-img{
    width: 100%;
    margin: auto;
  }
  .product-contents{
    float: left;
    width: 100%;
    margin: auto;  
    *{
      float: left;
      width: 100%;
      line-height: 1;
      margin: 0;
    }
  }
  .product-brand{
    font-size: 1em;
    margin-bottom: 20px;
  }
  .product-name{
    font-size: 2.4em;
    margin-bottom: 20px;
  }
  .product-price{
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  .product-desc{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .product-variants{
    float: left;
    padding: 0;
    list-style: none;
    margin: 0 -15px;
    &>li{
      float: left;
      width: 25%;
      padding: 0 7.5px;
    }
  }
}
.product-cta{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  padding: 20px 0;
  .cta-total{
    float: left;
    width: 100%;
    .total-label,.total-value{
      float: left;
      width: 100%;
      margin: 0;
      line-height: 1;
    }
    .total-label{
      color: #999;
      font-size: 1em;
      margin-bottom: 5px;
    }
    .total-value{
      color: #666666;
      font-size: 1.6em;
      font-weight: 700;
    }
  }
  .btn-buy,.btn-cart{
    border-radius: 5px;
    padding: 15px;
  }
  .btn-buy{
    border:1px solid $color-orange;
    color:$color-orange;
    &:hover{
      color:$color-orange;
      background-color: #fff;
      box-shadow: 4px 8px 20px 0px rgba(0,0,0,0.32);
    }
  }
  .btn-cart{
    border:1px solid $color-orange;
    background-color:$color-orange;
    color: #fff;
    &:hover{
      box-shadow: 4px 8px 20px 0px rgba(0,0,0,0.32);
    }
  }
}
.related-products-block{
  padding-top: 30px;
  padding-bottom: 115px;
}