<template>
  <section>
    <div class="container">
      <h1>Shoes List</h1>
      <table class="table">
        <tr>
          <th scope="col">Name</th>
          <!-- <th scope="col">Address</th> -->
          <th scope="col">Image</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
        <tr v-for="(costomerRow, index) in shoes" :key="index">
          <td v-text="shoesRow.name"></td>
          <!-- <td v-text="customersRow.address"></td> -->
          <td><img style="width:100px;" :src="costomerRow.image"></td>
          <td v-text="costomerRow.brand"></td>
          <td v-text="costomerRow.price"></td>
          <td><router-link :to="'/admin/product/update/'+costomerRow._id"><button class="btn btn-info">Edit</button></router-link></td>
          <td><button class="btn btn-danger" @click="deleteData
          (costomerRow._id)">Delete</button></td>
        </tr>
      </table>
    </div>
  </section>
</template>

<script>
// import func from '../../../../vue-temp/vue-editor-bridge'
export default {
  data () {
    return {
      customer: [
        {
          name: 'Binus Kemanggisan',
          address: 'JL. Kemanggisan'
        },
        {
          name: 'Binus Alam Sutera',
          address: 'Alam Sutera, Tangerang'
        }
      ]
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData () {
      var self = this
      this.$axios.get('http://localhost:3000/findAll').then(function (response)
      {
        self.shoes = response.data
        console.log(self.shoes)
      })
    },
    deleteData (dataId) {
      var self = this
      this.$axios.delete(`http://localhost:3000/deleteOne/${dataId}`).then(function (response)
      {
        if (response.status === 200) {
          self.getData()
        }
      }).catch(function  (error) {
      console.log(error)
        
      })
    }
  }
}
</script>

