<template>
  <div class="container">
    <h1>Product Update</h1>
    <form method="post" @submit.prevent="submitData()">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" v-model="formSubmitData.name">
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <textarea id="address" class="form-control" cols="30" rows="10" v-model="formSubmitData.address"></textarea>
        </div>
      </div> -->
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input type="file" id="image">
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <img :src="formSubmitData.image">
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="brand" v-model="formSubmitData.brand">
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" v-model="formSubmitData.price">
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Desc</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="desc" v-model="formSubmitData.desc">
        </div>
      </div>
      <div class="form-group row">
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data () {
    return {
      formSubmitData: {
        name: '',
        // address: '',
        image: '',
        brand: '',
        price: '',
        desc: ''
      },
      id: this.$route.params.id
    }
  },
  created() {
    this.getDetailData()
  },
  methods: {
    getDetailData () {
      var self = this
      this.$axios.get(`http://localhost:3000/findOne/${this.id}`).then(function (response) {
        if (response.status === 200) {
          self.formSubmitData.name = response.data.name
          // self.formSubmitData.address = response.data.address
          self.formSubmitData.image = response.data.image
          self.formSubmitData.brand = response.data.brand
          self.formSubmitData.price = response.data.price
          self.formSubmitData.desc = response.data.desc

        }
      }).catch(function (error) {
        console.log(error)
      })
    },
    submitData () {
      var self = this
      var postData = {
        name: this.formSubmitData.name,
        // address: this.formSubmitData.address,
        image: document.querySelector('#image').files[0],
        brand: this.formSubmitData.brand,
        price: this.formSubmitData.price,
        desc: this.formSubmitData.desc

      }

      var formData = new FormData()
      for (var key in postData) {
        formData.append(key, postData[key])
      }

      this.$axios.patch(`http://localhost:3000/updateOne/${this.id}`, formData).then(function (response) {
        if (response.status === 200) {
          self.$router.push('/admin/product')
        }
      }).catch(function (response) {
        console.log(error)
      })
    }
  }
}
</script>